html, body {
    height: 100%;
    font-family: tahoma;

}

/*
-o-border-radius
-moz-border-radius

*/

.form_wrapper{
    width: 900px;
    margin: auto;
    border-radius: 40px;
    -o-border-radius: 40px;
    -ms-border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.form_text{
    color: #666;
    line-height: 20px;
    font-size: 18px;
    font-weight: bolder;
    width: 200px;
    display:  inline-block;
    margin-left: 150px;
}

.form_line_element{
    margin: 10px auto;
    width: 800px;
    vertical-align: top;
    display: inline-block;
    height: 60px;
}

.form_element{
    width: 300px;
    display:  inline-block;
    vertical-align: middle;
}

.form_element_result{
    width: 140px;
    display:  inline-block;
    vertical-align: middle;
    font-size: 10px;
    color: #f00;
}

textarea, input[type=text], input[type=password], input[type=tel], input[type=submit], input[type=reset] {
    color: #fff;
    background: #113;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 2px solid #ddd;
    height: 30px;
    width: 300px;
}

.checker{
    font-size: 26px;
    color: #090;
    text-shadow: 0px 0px 8px #060;
    margin-left: 20px;
}

.form_center{
    text-align: center;
}

.form_error_text{
    display: none;
}